<mat-card class="col-md-12">
    <mat-card-header>
        <div class="container content">
            <div class="row">
                <div class="col-md-4 align-self-center">
                    <h4 style="color:red" translate>Clients List</h4>
                </div>
                <div class="col-md-5 align-self-center" hide="!getIsMobile()">
                    <h6 style="color:grey" >Lorem ipsum dolor sit amet, consectetur 
                        adipisicing elit, sed do eiusmod tempor incididunt ut</h6>
                </div>
                <div class="col-md-3 align-self-center float-left">
                    <div class="container" center-h center-v hide="!getIsMobile()">
                    <button 
                        class="btn btn-primary" 
                        routerLink="/customers-create" 
                        type="submit" translate>CREATE CLIENT</button>
                    </div>
                </div>    
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="container content">
            <div class="mat-elevation-z8">

                <div class="spinner-container" *ngIf="!dataSource">
                    <mat-spinner color="warm"></mat-spinner>
                </div>

                <mat-grid-list cols="1" rowHeight="500px">
                    <mat-grid-tile>
                        <table mat-table *ngIf="customers" [dataSource]="dataSource" matSort>    
                            <ng-container matColumnDef="Contact_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header translate>Contact name</th>
                                <td mat-cell fxFlex="25%" *matCellDef="let row">
                                    {{row.name}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Phone_number">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header translate>Phone number</th>
                                <td mat-cell fxFlex="25%" *matCellDef="let row">
                                    {{row.telephone}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Birth_date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header translate>Birth date</th>
                                <td mat-cell fxFlex="25%" *matCellDef="let row">
                                    {{row.dateBirth}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Contact_type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header translate>Contact type</th>
                                <td mat-cell fxFlex="25%" *matCellDef="let row">
                                    -
                                </td>
                            </ng-container>                    
                            <ng-container matColumnDef="Edit">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                                <td mat-cell *matCellDef="let row; let i = index;">
                                        <button class="btn btn-primary" href=""  routerLink="/customers-edit/{{row.id}}" routerLinkActive="router-link-active" translate>EDIT</button>
                                </td>
                            </ng-container> 
                            <ng-container matColumnDef="Delete">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                                <td mat-cell *matCellDef="let row; let i = index;">
                                    <button class="btn btn-primary" href="" routerLinkActive="router-link-active" (click)="openDialog(row)"  translate>DELETE</button>
                                </td>
                            </ng-container> 
                            <tr mat-header-row *matHeaderRowDef="columnDefinitions"></tr>
                            <tr mat-row *matRowDef="let row; columns: columnDefinitions;"></tr> 
                        </table>                         
                    </mat-grid-tile> 
                </mat-grid-list>

                <mat-grid-list cols="1" rowHeight="80px">
                    <mat-grid-tile>
                        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>  
    </mat-card-content> 
</mat-card>