p { color:red; }

.h1 {
  color: red;
  font-size: 15px;
}

.mat-card{
  padding: 0;
}

.mat-card-header{
  background-color: #f8f8f8;
}

.mat-card-content{
  padding: 15px;
  background-color: #efefef;
}

.mat-elevation-z8{
  background-color: #fafafa;
}
  
.mat-form-field {
    font-size: 12px;
    width: 100%;
  }

.mat-row:nth-child(even){
    background-color:white;
    }

.mat-row:nth-child(odd){
    background-color:whitesmoke;
    }

.mat-table{
  width: 100%;
  height: 100%;
}

.spinner-container{
  align-content: center;
}
  
  td, th {
    width: 25%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }
  
  