<div>
    <h6 hide="!getIsMobile()">{{buttonLabel}} > </h6>
</div>
<div class="card card-container">
    <div class="card-content">   
        <div class="container" center-h center-v>
            <div class="child">
                <div class="row">
                    <div class="col-md-4 align-self-center">
                        <h1 style="color:red" translate>{{mainLabel}}</h1>
                    </div>
                    <div class="col-md-4" hide="!getIsMobile()">
                        <h6 style="color:grey" >Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Aspernatur ipsam quam sed autem dolore vel, 
                            alias tenetur, dignissimos tempore, rem quod totam?</h6>
                    </div>
                    <div class="col-md-4 align-self-center">
                        <div class="container" center-h center-v hide="!getIsMobile()">
                        <button 
                            class="btn btn-accept" 
                            routerLink="{{dirRef}}" 
                            type="submit"
                            style="color:white; background-color:grey" translate>{{buttonLabel}}</button>
                        </div>
                    </div>    
                </div>
            </div>    
        </div>
    </div>
</div>