<mat-card class="col-md-12">
    <mat-card-header>
        <div class="container content">
            <div class="row">
                <div class="col-md-4 align-self-center">
                    <h4 style="color:red" translate>Create Reservation</h4>
                </div>
                <div class="col-md-5 align-self-center" hide="!getIsMobile()">
                    <h6 style="color:grey" >Lorem ipsum dolor sit amet, consectetur 
                        adipisicing elit, sed do eiusmod tempor incididunt ut</h6>
                </div>
                <div class="col-md-3 align-self-center float-left">
                    <div class="container" center-h center-v hide="!getIsMobile()">
                    <button 
                        class="btn btn-primary" 
                        routerLink="/reserves-list" 
                        type="submit" translate>RESERVATION LIST</button>
                    </div>
                </div>    
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="container content">            
            <form [formGroup]="reserveCustomerForm" (ngSubmit)="submitForm()" class="normal-form">
                <div class="from-group">
                    <div class="mat-elevation-z8">
                        <mat-grid-list cols="{{getColAdjusment()}}" rowHeight="90px">
                            <mat-grid-tile>
                                <div class="container">
                                    <input type="hidden" formControlName="$key">
                                    <mat-form-field appearance="outline">
                                        <input formControlName="fc_name" matInput [(ngModel)]="customer.name" (change)="CustomerKnow($event)" placeholder="{{'Contact Name ...'| translate}}">
                                        <mat-icon matPrefix>supervisor_account</mat-icon>
                                        <mat-error translate>.error</mat-error>
                                    </mat-form-field>                           
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="container">
                                    <mat-form-field appearance="outline">
                                        <mat-icon matPrefix>language</mat-icon>
                                        <mat-select formControlName="fc_contacttype" [(ngModel)]="customer.contactTypeId" appearance="outline">                            
                                            <mat-option *ngFor="let cType of ctTypes" 
                                                [value]="cType.id">
                                            {{cType.contactType}}                        
                                            </mat-option>
                                        </mat-select>    
                                    </mat-form-field>  
                                    <mat-error translate>.error</mat-error>   
                                </div>
                            </mat-grid-tile>            
                            <mat-grid-tile>
                                <div class="container">
                                    <mat-form-field appearance="outline">
                                        <input formControlName="fc_Telephone" [(ngModel)]="customer.telephone" matInput placeholder="{{'Phone'| translate}}">
                                        <mat-icon matPrefix>phone</mat-icon>
                                    </mat-form-field>  
                                    <mat-error translate>.error</mat-error>         
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="container">
                                    <mat-form-field color="accent" appearance="outline">
                                        <input formControlName="fc_Birthday" type="date" [matDatepicker]="picker1" matInput [(ngModel)]="customer.dateBirth" placeholder="{{'Birth Date'| translate}}">                                                               
                                        <mat-datepicker-toggle matPrefix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1 color="primary"></mat-datepicker>                                    
                                    </mat-form-field>                     
                                </div>
                            </mat-grid-tile>   
                        </mat-grid-list>
                    </div> 
                    <div class="mat-elevation-z8" mat-elevation-z8-fill>
                        <ckeditor formControlName="fc_Description" data="customer.description"></ckeditor>
                    </div>    
                    <div class="mat-elevation-z8">
                        <mat-grid-list cols="{{getColAdjusment()}}" rowHeight="90px">  
                            <mat-grid-tile>
                                <div class="container">
                                    <input type="hidden" formControlName="$key">
                                    <mat-form-field appearance="outline">
                                        <input formControlName="fc_Restaurant" matInput placeholder="{{'Restaurant...'| translate}}">
                                        <mat-icon matPrefix>restaurant</mat-icon>
                                    </mat-form-field>  
                                    <mat-error translate>.error</mat-error>                         
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="container">
                                    <mat-form-field color="accent" appearance="outline">
                                        <input 
                                            formControlName="fc_Date"
                                            matInput
                                            type="datetime-local" 
                                            placeholder="{{'Date'|translate}}">
                                    </mat-form-field>   
                                    <mat-error translate>.error</mat-error>                       
                                </div>
                            </mat-grid-tile>            
                        </mat-grid-list>
                    </div> 
                    <div class="row justify-content-right">
                        <div class="col-11">
                        </div>
                        <div class="col-1 align-self-center">
                            <button 
                                class="btn btn-success" 
                                type="submit"
                                [disabled]="reserveCustomerForm.invalid"
                                translate>SEND</button>
                        </div>
                    </div> 
                </div> 
            </form>         
        </div>  
    </mat-card-content>
</mat-card>

