<nav class="navbar navbar-expand-sm bg-primary" style="background-color: #e3f2fd">
    <a class="navbar-brand" href="#" translate>Reservations Manager</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/reserves-list" translate>Reservations List<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customers-list" translate>Clients</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" translate>Language</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" (click)="changeLanguage('es')">ES</a>
                    <a class="dropdown-item" (click)="changeLanguage('en')">EN</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<app-header></app-header>
<router-outlet></router-outlet>