<!DOCTYPE html>
<html lang="en">   
  <header>
    <app-header></app-header>
    <app-header-menu></app-header-menu>
  </header>   
    <body>
        <div class="container" center-h center-v>
          <div class="child">
            <router-outlet></router-outlet> 
          </div>
        </div>
    </body>
</html>

<style>
  .container {
    
    height: 10rem;
    display: flex;
    /* align-items por defecto tiene el valor `stretch` */
    align-items: start;
  }
  .center-h {
    justify-content: center;
  }
  .center-v {
    align-items: center;
  }
  .child {    
    padding: .2rem;
  }
  </style>
