<!DOCTYPE html>
<html lang="en">   
  <header>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="navId">
      <li class="nav-item">
        <a href="#tab1Id" class="nav-link active" routerLink="/reserves-list" translate>Reservation List</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" routerLink="/customers-list" role="button" aria-haspopup="true" aria-expanded="false">Clients</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#tab2Id" routerLink="/customers-list">List</a>
        </div>
      </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade show active" id="tab1Id" role="tabpanel"></div>
      <div class="tab-pane fade" id="tab2Id" role="tabpanel"></div>
      <div class="tab-pane fade" id="tab3Id" role="tabpanel"></div>
      <div class="tab-pane fade" id="tab4Id" role="tabpanel"></div>
      <div class="tab-pane fade" id="tab5Id" role="tabpanel"></div>
    </div>
    
    <script>
      $('#navId a').click(e => {
        e.preventDefault();
        $(this).tab('show');
      });
    </script>
    <app-header></app-header>    
  </header>   
  <body>
      <router-outlet></router-outlet> 
  </body>
</html>